.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px grey;
    text-align: center;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    width: 19%;
    height: 250px;
    padding:2%;
    margin: 10px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    font-size: larger;
}

.card-title{
    margin: 5px;
}

.card:hover{
    transform: scale(1.01);
}